<div class="footer">
  <div class="footer-copyright">
    © 2023 - ALL RIGHTS RESERVED
  </div>
  <div class="footer-links">
    <a href="https://github.com/aysegun"><i class="fa-brands fa-github" style="color: black"></i></a>
    <%# <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a> %>
  </div>
  <div class="footer-terms">
    Privacy - Terms & Conditions - Security
  </div>
</div>
