<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <ul class="footer-external">
        <p>FAYDALI LİNKLER</p>
          <li>
            <a href="https://www.istanbulbarosu.org.tr/" target='_blank'>İstanbul Barosu</a>
          </li>
          <li>
            <a href="https://www.barobirlik.org.tr/" target='_blank'>Türkiye Barolar Birliği</a>
          </li>
          <li>
            <a href="https://karararama.yargitay.gov.tr/" target='_blank'>Yargıtay Karar Arama</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="footer-info">
        <p>DAHA FAZLA BİLGİ</p>
          <li>
            <%= link_to "Hakkımızda", about_path %>
          </li>
          <li>
            <%= link_to "Ana Sayfa", root_path %>
          </li>
          <li>
            <%= link_to "İletişim", contact_path %></li>
          <li>
            <%= link_to "Çalışma Alanlarımız", field_path %>
          </li>
        </ul>
      </div>
      <div class="footer-legal">
        <%# <div class="footer-copyright">
          Privacy - Terms & Conditions - Security
        </div> %>
        <div class="footer-terms">
          © 2023 | All Rights Reserved
        </div>
        <div class="footer-links">
          <a href="https://github.com/aysegun" target='_blank'><i class="fa-brands fa-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
