<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-6">
        <ul class="footer-external">
        <p>DAHA FAZLA BİLGİ</p>
          <li>
            <%= link_to "Hakkımızda", about_path %>
          </li>
          <li>
            <%= link_to "Ana Sayfa", root_path %>
          </li>
          <li>
           <%= link_to "Çalışma Alanlarımız", field_path %>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <ul class="footer-info">
        <p>Bizimle iletişime geçin</p>
          <li class="button">
            <%= button_to contact_path, method: :get, class: "btn btn-outline-info" do %>
              İletişim <i class="fa-solid fa-arrow-right"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="footer-legal">
        <div class="footer-terms">
          © 2025 | All Rights Reserved
        </div>
        <div class="footer-links">
          <a href="https://www.linkedin.com/in/muraterakin/" target='_blank'><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
