<div class="navbar navbar-expand-sm navbar-light sticky-top">
  <div class="container-fluid">
    <ul class= "navbar-nav me-auto">
      <li><%= link_to "Ana Sayfa", root_path, class:'nav-link' %></li>
      <li><%= link_to "Hakkımızda", about_path, class:'nav-link' %></li>
      <li><%= link_to "Çalışma Alanlarımız", field_path, class:'nav-link' %></li>
      <li><%= link_to "İletişim", contact_path, class:'nav-link' %></li>
    </ul>
  </div>
</div>
