<div class="navbar navbar-law navbar-expand-sm navbar-dark sticky-top">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class= "navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "Ana Sayfa", root_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Hakkımızda", about_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Çalışma Alanlarımız", field_path %>
        </li>
        <li class="nav-item">
          <%= link_to "İletişim", contact_path %>
        </li>
      </ul>
    </div>
  </div>
</div>


<script>
  document.addEventListener("turbo:load", () => {
    const navEl = document.querySelector('.navbar');

    if (!navEl) return;

    window.addEventListener('scroll', () => {
      if (window.scrollY >= 60) {
        navEl.classList.add('navbar-scroll');
      } else {
        navEl.classList.remove('navbar-scroll');
      }
    });
  });
</script>
