<h1>contact page</h1>
<div >
<div class="contact-container">
  <div class="contact-card">
    <div class="contact-info">
      <h3>İstanbul Ofis | Merkez</h3>
      <div class="phone">
        <p>Telefon: </p>
        <%= link_to "+905335180850" %>
      </div>
      <div class="address">
        <div class="a">
          <p>Adres:</p>
        </div>
        <div class="b">
          <p>Zuhuratbaba Mah,<br> Haksever Sok, No:7/1<br>Bakırköy/İstanbul</p>
        </div>
      </div>
    </div>
  </div>
  <div>
  <p>Aşağıdaki formu doldurarak bizimle iletişime geçebilirsiniz</p>
  </div>
</div>
