<div class ="banner" style="background-image: url(<%= asset_path 'bnwcolumns.jpg'  %>);">
  <div class ="banner-container">
      <h1>İletişim</h1>
  </div>
</div>

<div class="contact-container">
  <div class="contact-card">
    <div class = "container">
      <div class="contact-info row">
        <h3>İstanbul Ofis | Merkez Ofis</h3>
        <div class="phone col-lg-12 mt-5">
          <p style="font-weight: bold" class = "col-lg-3">Telefon:</p>
          <%= link_to "+905335180850", class:"col-lg-9"%>
        </div>
        <div class="address">
          <p style="font-weight: bold" class = "col-lg-3">Adres:</p>
          <p class ="col-lg-9">İzzetpaşa Mah, Yeni Yol Cad, <br> No:3 Kat:3 Ofis No:3<br> Nurol Tower, Şişli/İstanbul</p>
        </div>
      </div>
    </div>
  </div>
  <%# <p style ="margin-right: 150px">Aşağıdaki formu doldurarak bizimle iletişime geçebilirsiniz</p> %>
  <div class="map">
    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?markers=41.0677457,28.9860533&size=750x300&zoom=15&key=#{ENV["MAPS_API_KEY"]}" %>
  </div>
</div>
