<div class ="banner" style="background-image: url(https://images.unsplash.com/photo-1684602249422-590216595915?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80)", height:350;>
  <div class ="banner-container">
  </div>
</div>
<div class="container" style="margin-top:300px">
  <div class ="row">
    <div class="col-4">
      <p style="color:red; font-weight:bold">Çalışma Alanlarımız</p>
      <p>Ceza Hukuku</p>
      <p class="area"><%= link_to "Aile Hukuku", detail2_path %></p>
      <p class="area"><%= link_to "İcra İflas Hukuku", detail3_path %></p>
      <p class="area"><%= link_to "Yabancılar ve Vatandaşlık Hukuku", detail4_path %></p>
      <p class="area"><%= link_to "İş Hukuku", detail5_path %></p>
    </div>
    <div class="col-8">
      <p style="font-weight:bold">Avukat Murat Erakın tarafından Ceza Hukuku alanında verilen hizmetlerden bazıları şunlardır:</p>
      <p class="area-info"><strong>|</strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
      <p class="area-info"><strong>|</strong>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <p class="area-info"><strong>|</strong>Ut enim ad minim veniam, </p>
      <p class="area-info"><strong>|</strong>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
  </div>
</div>
