<div class ="banner" style="background-image: url(https://images.unsplash.com/photo-1684602249422-590216595915?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80)", height:350;>
  <div class ="banner-container">
      <h1>Çalışma Alanlarımız</h1>
  </div>
</div>
<div class = "popover-section">
<div id="popover1" class="practice w-75" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
    <p>Ceza Hukuku <span style="margin-right: 500px;">|</span></p>
  </div>
  <div id="popover1" class="practice w-75" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
    <p>Aile Hukuku <span style="margin-right: 500px;">|</span></p>
  </div>
  <div id="popover2" class="practice w-75" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="auto" data-bs-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
    <p>İcra İflas Hukuku <span style="margin-right: 500px;">|</span></p>
  </div>
  <div id="popover3" class="practice" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="auto" data-bs-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
    <p>Yabancılar ve Vatandaşlık Hukuku<span style="margin-right: 500px;">|</span></p>
  </div>
  <div id="popover4" class="practice w-75" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="auto" data-bs-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
    <p>Şirketler Hukuku<span style="margin-right: 500px;">|</span></p>
  </div>
  <div id="popover5" class="practice w-100" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-bs-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
    <p>İş Hukuku<span style="margin-right: 20px;">|</span></p>
  </div>
</div>
