<h1>Çalışma alanlarımız</h1>
<div class="practice" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
  <p>Aile Hukuku</p>
</div>
<div class="practice" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
  <p>İcra İflas Hukuku</p>
</div>
<div class="practice" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
  <p>Yabancılar ve Vatandaşlık Hukuku</p>
</div>
<div class="practice" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
  <p>Şirketler Hukuku</p>
</div>
<div class="practice" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="click" data-bs-placement="right" data-bs-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
  <p>İş Hukuku</p>
</div>
