<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "https://source.unsplash.com/collection/1783182/1000x1000", class:"d-block w-100", alt:"..."  %>
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "https://source.unsplash.com/collection/1783182/1000x1000", class:"d-block w-100", alt:"..."  %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "https://source.unsplash.com/collection/1783182/1000x1000", class:"d-block w-100", alt:"..."  %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="data-processing">
<p>KİŞİSEL VERİLERİN İŞLENMESİ AYDINLATMA METNİ<br>1.Veri Sorumlusunun Kimliği 6698 sayılı Kişisel Verilerin Korunması Kanununun (KVK Kanunu) 10 uncu maddesi ile <br>Aydınlatma Yükümlülüğünün Yerine Getirilmesinde Uyulacak Usul ve Esaslar Hakkında Tebliğ kapsamında İçişleri Bakanlığı tarafından hazırlanmıştır.<br>

2.Kişisel Verilerinizin İşlenme Amaçları<br>

İçişleri Bakanlığı Nüfus ve Vatandaşlık İşleri Genel Müdürlüğü (NVİGM) aşağıda yer alan;
Mevzuatlar tarafından öngörülen esas ve usuller doğrultusunda veya zorunlu kıldığı şekilde,<br> hukuki yükümlülüklerin yerine getirilmesi,
Kurum faaliyetlerin yürütülmesi, <br>NVİGM’nin Kimlik Paylaşımı Sistemi uygulaması kapsamında yaptığı Veri Paylaşımı Taahhütnameleri kapsamında<br> ve alıcı gurubuna karşı hizmet standartları çerçevesinde hizmet sağlanması ve Taahhütname gerekliliklerinin yerine getirilmesi,<br>
Amaçları kapsamında kişisel verilerinizi işlemektedir.</p>
</div>
