<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "istanbul_night.jpg", class: "d-block w-100", alt: "Mountain view" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "istanbul.jpg", class:"d-block w-100", alt:"..."  %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "themis.jpg", class:"d-block w-100", alt:"..."  %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="data-processing">
  <p><span style="font-weight: bolder">KİŞİSEL VERİLERİN İŞLENMAESİ AYDINLATMA METNİ</span><br>Bu aydınlatma metni, 6698 sayılı Kişisel Verilerin Korunması Kanunu ("KVKK") uyarınca <br>veri sorumlusu sıfatıyla hareket eden<br>
  Erakın Hukuk Bürosu tarafından hazırlanmıştır.<br>
  KVKK uyarınca, kişisel verileriniz;<br>Erakın Hukuk Bürosu tarafından veri sorumlusu sıfatıyla
  işlenmektedir. <br> Kişisel verileriniz, <br>Hukuki danışmanlık ve avukatlık hizmetlerinin sunulması, <br>Hizmet alan kişiyle olan sözleşme süreçlerinin yürütülmesi,<br> Hukuki yükümlülüklerin yerine getirilmesi, <br>
  amaçlarıyla işlenmektedir.</p>

  <%= link_to "KVKK Tam Metni", '/resource/kvkk.pdf', target:'_blank' %>
</div>
