<h2>Yeni iletişim formu mesajı</h2>
<p><strong>Ad-Soyad:</strong> <%= @contact[:name] %></p>
<p><strong>Telefon:</strong> <%= @contact[:phone] %></p>
<p><strong>Email:</strong> <%= @contact[:email] %></p>
<p><strong>Mesaj:</strong></p>
<p><%= @contact[:message] %></p>
