<div class="error-404">
  <div class="error-image">
    <%= image_tag '404_error_2.png', alt:'not_found', height:400 %>
  </div>
  <div class="error-button" >
    <%= link_to 'Ana Sayfa', root_path %>
  </div>
</div>
