<div class="error-404">
  <%= image_tag '404_error_2.png', alt:'not_found', height:400 %>

  <div class="error-button btn btn-outline-primary" >
    <%= link_to 'Ana Sayfa', root_path %>
  </div>
</div>
