
<div class="error-422">
  <%= image_tag "422_error_img.jpg" %>
  <div class="error-text-422"> The change you wanted was rejected</div>
  <div class="error-button-422 btn btn-outline-primary" >
    <%= link_to 'Ana Sayfa', root_path %>
  </div>
</div>
