.banner {
  height: 350px;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner h1 {
  color: white;
  font-size: 44px;
  margin: 0;
}
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-container p {
  color: white;
  font-size: larger;
  text-align: center;
  margin-top: 10px;
}

/* Medium devices */
@media (min-width: 769px) and (max-width: 1024px) {
  .banner {
    height: 300px;
  }
  .banner h1 {
    font-size: 36px;
  }
}

/* Small devices */
@media (max-width: 768px) {
  .banner {
    height: 250px;
    padding: 0 20px;
  }
  .banner h1 {
    font-size: 28px;
  }
  .banner-container p {
    font-size: medium;
  }
}
