  .card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 300px;
  }
  .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;

  }
  .card-info {
    //margin-left: 40px;
  }

  .contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: 350px;
    margin-left: 150px;
    margin-bottom: 50px;
  }

  .card-image {
    margin-bottom: 20px;
    height: 90%;
  }
  .about-card {
    margin-left: 10px;
  }
  .about-card a {
    text-decoration: none;
    color: grey;
  }
  .about-card a:hover {
    color: black;
  }

  .phone {
    display: flex;
    margin-top: 5px;
  }
  .phone a {
    text-decoration: none;
    color: black;
  }
  .address {
    display: flex;
  }
