.carousel-inner img{
  width: 100%;
  height: 700px;
}

#carouselExampleCaptions {
  position: absolute;
  top: 0;
  width: 100%;
}

.data-processing {
  margin-top: 750px;
  text-align: center;
}
.data-processing p {
  text-align: center;
}
.data-processing a {
  text-decoration: none;
  color: rgb(230, 13, 13);
  font-weight: bolder;
}

.data-processing a:hover {
  color: black;
}


@media (max-width: 768px) {
  .data-processing {
    margin-bottom: 135px;
  }
}
