.error-404 {
  position: relative;
  height: 100%;
  text-align: center;
}

.error-button {
  position: absolute;
  left: 335px;
  bottom: 65px;
  text-align: left !important;
  display: block;
  margin-left: 180px;
  border-color: black;
}

.error-button a{
  text-decoration: none;
  color: black;
  //margin-left: 200px;
  font-weight: bolder;
  font-size: smaller;
  padding: 10px 20px;

}

// .error-button a:hover {
//   color: red;
// }

.error-500  {
  position: relative;
  text-align: center;
  //padding-bottom: 0;
}

.error-500 img {
  background-size:contain;
  width: 100%;
  bottom: 0;
}

.error-text-500 {
  position: absolute;
  right: 525px;
  bottom: 400px;
  color: white;
  font-size: larger;
}
