
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background:rgba(2,10,32,0.9);
  //border-top: 1px solid black;
  //display: flex;
  //justify-content: space-between;
  //height: 300px;
  //padding: 0px 50px;
  color: white;
  //align-items: center;
  box-sizing: border-box;
  margin-top: auto;
}
//.footer-links {
  //display: flex;
  //align-items: center;
//}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding-top: 10px;
  margin-left: -50px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-legal {
  //display: flex;
  //justify-content: space-between;
  text-align: center;
}

.footer-info {
  list-style-type: none;
  margin-top: 20px;
}
.footer-info a{
  text-decoration: none;
  color: white;
}

.footer-external {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}
.footer-external a {
  text-decoration: none;
  color: white;
}

.footer-terms {
  margin-right: 73px;
}

@media (max-width: 768px) {
  .footer .row {
    text-align: center;
  }
  .footer .row a {
    line-height: 2;
  }
  .footer-info {
    padding: 0;
  }
  .footer-terms {
    margin-right: 0;
  }
  .footer-links a {
    margin: 0;
  }
  .footer-external {
    margin-top: 35px;
  }
}
