.footer {
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 100%;
  background:rgb(52, 51, 51);
  display: flex;
  //align-items: center;
  justify-content: space-between;
  height: 45px;
  padding: 0px 50px;
  color:whitesmoke;
  align-items: center;
  box-sizing: border-box;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
