.navbar-law {
  display: flex;
  justify-content: space-between;
  background:transparent;
  list-style-type: none;
  box-sizing: border-box;
  height: 45px;
  //align-items: center;
  margin-top: 0%;
  padding: 0px 50px;
  position: sticky;
  top: 0;
}
.navbar-law .navbar-collapse{
  flex-grow: 1;
}
.navbar-nav li {
  padding-left: 10px;
  padding-right: 10px;

}

.navbar-nav a {
  color:  whitesmoke;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar {
  transition: all 0.5s;
}
.navbar-scroll {
  background-color: black;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
